/* General Reset */
.bump {
    margin-top: 1rem;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
}

body p {
    margin: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    text-align: center;
}

/* Logo Positioned in Top-Left */
.logo {
    position: absolute;
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Arranges items in a column */
    align-items: center; /* Centers items vertically */
    justify-content: flex-start; /* Ensures space between the logo and the time button */
    gap: 1rem; /* Optional: Adds spacing between the elements */
    top: 1rem;
    left: 1rem;
    text-align: center;
}

.logo h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #ff4500;
    font-family: 'Arial Black', Arial, sans-serif;
}

/* Unpause */
.time {
    font-weight: bold;
    font-size: 4rem;
    width: 4rem;
    max-height: 4rem;
    border: 2px solid gold;
    color: gold;
}

.credit {
    color: gold;
}

/* Perso Positioned in Top-Right */
.perso {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
}

.perso a {
    text-decoration: none;
    color: silver;
    transition: color 0.3s;
}
.perso a:active {
    color: silver; /* Color when clicked (active state) */
}
.perso a:hover {
    color: white;
}

/* Important Messages */
.important {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: red;
}

.important a {
    text-decoration: none;
    color: red; /* inutile, blinks */
    transition: color 0.3s;
}
.important a:active {
    color: red; /* Color when clicked (active state) */
}
.important a:hover {
    color: red;
}

.blinking {
    text-decoration: none;
    color: red;
    font-weight: bold;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%,
    50% {
        opacity: 1;
    }
    50.1%,
    100% {
        opacity: 0;
    }
}

/* Menu Options */
.menu-options ul {
    list-style-type: none;
    margin-bottom: 2rem;
}

.menu-options li {
    margin: 1rem 0;
}

.menu-options a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #00bfff;
    transition: color 0.3s;
}
.menu-options a:active {
    color: #008000; /* Color when clicked (active state) */
}

.menu-options a:hover {
    color: #ff4500;
}
